@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

/* Main Scroll Bar Style Change */
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: #dbeafe;
}

html::-webkit-scrollbar-thumb {
    background   : #2266EE;
    border-radius: 3px;
}

